.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
locale/*.mo
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/.cache/*
locale/*/*.pox
locale/*/LC_MESSAGES
Gemfile.lock
package-lock.json
node_modules
vendor/ruby
public/assets