<% 
items = [{ caption: _('Cycles'), url: cycles_path },
         { caption: @cycle.name, url: cycle_path(@cycle) },
         { caption: @window.name, url: window_path(@window) },
         { caption: @window_group.name }]

breadcrumbs(resource_url: api_window_window_groups_path(@window.id),
            name_field: 'name',
            switcher_item_url: window_group_path(':id'),
            items: items)
%>

<% javascript 'charts' %>
<% javascript *webpack_asset_paths('foreman_remote_execution', extension: 'js') %>

<% if @window_group.task %>
  <% title_actions button_group(group_task_buttons(@window_group.task))%>
<% end %>

<div class="row">
  <%= render partial: 'results', locals: { window_group: @window_group } %>
</div>
<hr/>
<% if @window_group.invocations.empty? %>
  <div class="alert alert-warning">
    <%= _("No hosts are in this patch group.") %>
  </div>
<% else %>
  <div id="hosts" data-refresh_required="<%= @window_group.invocations.empty? ? '' : 'true' %>">
    <%= render partial: 'hosts', locals: { window_group: @window_group, hosts: @window_group.hosts } %>
  </div>
<% end %>
