.calendar {

  .day {
    padding: 0;
    height: 120px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #ffffc0;
  }

  .past {}
  .future {}

  .start-date {}

  .disabled {
    background: #e8e8e8;
  }
  .enabled {}
  td.enabled:hover {
    background: #def3ff;
  }

  h6 {
    margin: 2px 3px;
  }

  div.day {
    margin: 0;
    height: inherit;
    width: inherit;
    display: block;
  }
}
