<h2 class="headline"><%= _("Patching Window Results").html_safe %></h2>
<div class="dashboard">
  <table>
    <%= render partial: 'window_group', collection: @window.window_groups %>
  </table>
</div>
