<% title @window.name %>

<% title_actions %>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <%= render partial: 'schedule', locals: { window: @window } %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <%= render partial: 'ticket', locals: { ticket: @window.ticket } %>
  </div>
</div>
<hr/>
<div id="groups" data-refresh_required="true">
  <%= render partial: 'groups', locals: { groups: @window.window_groups } %>
</div>
